%h3{:class => "cloud round"}= dream.title
=link_to "Edit", edit_dream_path(dream)
=link_to "Delete", dream, :method => :delete
- if dream.completed?
  =link_to "Incomplete", {:controller => "dreams", :action => "update", "dream" => {:completed => false}, :id => dream.id}, :method => :put
- else
  =link_to "Complete", {:controller => "dreams", :action => "update", "dream" => {:completed => true}, :id => dream.id}, :method => :put
%br
%br
%h4{:class => "task_header"} Tasks
%div{:class => "tasks"}= render dream.tasks
= form_for(@task) do |f|
  = render('shared/error_messages', :object => f.object) if @task.dream == dream
  .field
    = f.text_area :title, :class => "round"
    = f.hidden_field :dream_id, :value => dream.id
    = f.submit "Add Task"
%br