= form_for(@dream) do |f|
  = render 'shared/error_messages', :object => f.object
  .field
    = f.label :title
    %br
    = f.text_area :title
  .field
    = f.label :details
    %br
    = f.text_area :details
  .field
    = f.check_box :completed
    = f.label :completed, 'Completed?'
  .actions
    = f.submit "Update dream"