%div{:class => "task"}
  %h4= task.title
  =link_to "Edit", edit_task_path(task)
  =link_to "Delete", task, :method => :delete
  - if task.completed?
    =link_to "Incomplete", {:controller => "tasks", :action => "update", "task" => {:completed => false}, :id => task.id}, :method => :put
  - else
    =link_to "Complete", {:controller => "tasks", :action => "update", "task" => {:completed => true}, :id => task.id}, :method => :put