= form_for(@task) do |f|
  = render('shared/error_messages', :object => f.object)
  .field
    = f.label :title
    %br
    = f.text_area :title, :class => 'title'
  .field
    = f.label :details
    %br
    = f.text_area :details
  .field
    = f.label :assignees, 'Assignees'
    %br
    = select_tag("assignee_ids[]", options_for_select(@friends, @task.assignees.map { |a| a.id }), {:multiple => true, :size => 6})
  .field
    = f.check_box :completed
    = f.label :completed, 'Completed?'
  .actions
    = f.submit "Update task"