/* line 1, ../../app/assets/stylesheets/custom.css.scss */
a {
  color: #38CDFF;
}

/* line 5, ../../app/assets/stylesheets/custom.css.scss */
body {
  background: #C0DEED;
}

/* line 9, ../../app/assets/stylesheets/custom.css.scss */
h4, h3, p {
  margin-bottom: 0;
}

/* line 13, ../../app/assets/stylesheets/custom.css.scss */
.sec_header {
  margin-left: 115px;
  width: 490px;
  border-bottom: 1px solid #000066;
  font-weight: bold;
}

/* line 20, ../../app/assets/stylesheets/custom.css.scss */
.name {
  margin-left: 1em;
  color: #000066;
}

/* line 25, ../../app/assets/stylesheets/custom.css.scss */
.container {
  width: 720px;
}

/* line 29, ../../app/assets/stylesheets/custom.css.scss */
.hidden {
  visibility: hidden;
}

/* Round corners */
/* line 35, ../../app/assets/stylesheets/custom.css.scss */
.round {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 41, ../../app/assets/stylesheets/custom.css.scss */
.dream {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid transparent;
  background: #FFF;
}

/* line 49, ../../app/assets/stylesheets/custom.css.scss */
.dream a {
  padding-right: 10px;
}

/* line 53, ../../app/assets/stylesheets/custom.css.scss */
textarea#dream_title {
  width: 490px;
  height: 80px;
}

/* line 58, ../../app/assets/stylesheets/custom.css.scss */
.cloud {
  padding: 10px;
  background: #F5F5F5;
}

/* line 63, ../../app/assets/stylesheets/custom.css.scss */
.task {
  margin-left: 2em;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid transparent;
}

/* line 69, ../../app/assets/stylesheets/custom.css.scss */
.task_header {
  font-weight: bold;
  margin-left: 1em;
  border-bottom: 1px solid #BEBEBE;
}

/* line 75, ../../app/assets/stylesheets/custom.css.scss */
textarea#task_title {
  width: 490px;
  height: 40px;
}

/* line 80, ../../app/assets/stylesheets/custom.css.scss */
.centaur {
  text-align: center;
}

/* line 84, ../../app/assets/stylesheets/custom.css.scss */
#new_task {
  width: 50px;
}

/* line 88, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 97, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

/* line 107, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

/* line 113, ../../app/assets/stylesheets/custom.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
