%br
%div{:align => "center"}
  = form_for(@dream) do |f|
    = render 'shared/error_messages', :object => f.object
    .field
      = f.text_area :title, :placeholder => "State a new dream", :class => "round"
    .actions
      = f.submit "Submit Dream"


%br
%h2{:class => "sec_header centaur"} Your Dreams
%div{:id => "your_dreams", :class => "dream round span-18"}
  = render @dreams

%h2{:class => "sec_header centaur"} Your Collaborations
%div{:class => "dream round span-18"}
  - @c_dreams.each do |d|
    %h3{:class => "cloud round"}= "#{d.title}"
    %p{:class => "name"}= "By #{d.user.name}"
    = link_to "Remove Collaboration", {:controller => "collaborations", :action => "destroy", :id => d.id}, :method => :delete
    %br
    %br
    %h4{:class => "task_header"} Tasks

    - d.tasks.each do |t|
      %div{:class => "task"}
        %h4= t.title
        = link_to "Edit", edit_task_path(t)
    = form_for(@task) do |f|
      = render('shared/error_messages', :object => f.object) if @task.dream == d
      .field
        = f.text_area :title, :class => "round"
        = f.hidden_field :dream_id, :value => d.id
        = f.submit "Add task"


%h2{:class => "sec_header centaur"} Your Assigned Tasks
%div{:class => "dreams dream round"}
  -current_user.assigned_tasks.each do |t|
    - if !t.completed?
      %div{:class => "dream round"}
        %h3{:class => "cloud round"}= t.dream.title
        %p{:class => "name"}= "By #{t.dream.user.name}"
        %br
        %h4{:class => "task_header"} Your Task
        %div{:class => "task"}
          %h4= t.title
          - if t.completed?
            =link_to "Incomplete", {:controller => "tasks", :action => "update", "task" => {:completed => false}, :id => t.id}, :method => :put
            - else
            =link_to "Complete", {:controller => "tasks", :action => "update", "task" => {:completed => true}, :id => t.id}, :method => :put
        
  

%h2{:class => "sec_header centaur"} Your Friends
- @friends.each do |friend|
  %div{:class => "friend centaur dream round span-18 last"}
    %h2{:class => "cloud round"} #{friend.name}
    %div{:class => "span-9"}
      %h3{:class => "cloud round"} Dreams
      %br
      - friend.dreams.each do |dream|
        %h4= dream.title
        - c = dream.collaborators.find { |f| f.id == current_user.id }
        - if c.nil?
          %h5= link_to "Collaborate", {:controller => "collaborations", :action => "create", :id => dream.id}, :method => :post
        - else
          %h5= link_to "Uncollaborate", {:controller => "collaborations", :action => "destroy", :id => dream.id}, :method => :delete
        %h4 Tasks
        %div{:class => "tasks"}
          - dream.tasks.each do |task|
            //%div{:class => "task"}
            %h5= task.title
    %div{:class => "centaur span-9 last"}
      %h3{:class => "cloud round"} Assigned Tasks
      - friend.assigned_tasks.each do |t|
        %h4= t.title
        %h4 Associated Dream
        %div{:class => "tasks"}
          %div{:class =>"task"}
            %h5= t.dream.title
