a {
  color: #38CDFF;
}

body {
  background: #C0DEED;
}

h4, h3, p {
  margin-bottom: 0;
}

.sec_header {
  margin-left: 115px;
  width: 490px;
  border-bottom: 1px solid #000066;
  font-weight: bold;
}

.name {
  margin-left: 1em;
  color: #000066;
}

.container {
  width: 720px;
}

.hidden {
  visibility: hidden;
}

/* Round corners */

.round {
  -moz-border-radius:    5px;
  -webkit-border-radius: 5px;
  border-radius:         5px;
}

.dream {
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid transparent;
  background: #FFF;
}

.dream a {
  padding-right: 10px;
}

textarea#dream_title {
  width: 490px;
  height: 80px;
}

.cloud {
  padding: 10px;
  background: #F5F5F5;
}

.task {
  margin-left: 2em;
  border-bottom: 1px solid #EBEBEB;
  border-top: 1px solid transparent;
}

.task_header {
  font-weight: bold;
  margin-left: 1em;
  border-bottom: 1px solid #BEBEBE;
}

textarea#task_title {
  width: 490px;
  height: 40px;
}

.centaur {
  text-align: center;
}

#new_task {
  width: 50px;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}