!!! 5
%html
  %head
    %title Dreamscape
    = render 'layouts/stylesheets'
    = stylesheet_link_tag    "application"
    %div{:id => "fb-root"}
    = javascript_include_tag "application"
   
    
  %body
    %div{:id => "fb-root"}
    %div{:align => "center" }
      %br
      = link_to(image_tag('logoDS.png', :alt => 'Dreamscape Logo'), root_path)
    .container
      %section{:class => 'round'}
        - flash.each do |key, value|
          %div{:class => "flash #{key}"}= value
        = yield

= javascript_include_tag "application"

